.Feeds {
    text-align: center;
    background-image: url(src/pictures/memories.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Feeds-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

