.App {
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-header {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mr2, .input{
  margin-top: 25px;
  width: 25%;
}

.image{
  width: 50%;
  height: 50%;
}

.logout{
  position: fixed;
  top: 15px;
  right: 1em;
  float: right;
  width: 5em;
}

.upload {
  width: 100%;
}

.searchDiv {
  width: 100%;
  margin-bottom: 1%;
  justify-items: left;
  align-items: flex-start;
}

.search {
  width: 35%;
  margin-right: 10px;
  height: 2%;
}

.searchButton {
  height: 3%;
}

